.navbar {
    height: 50px;
    background-color: rgb(234, 32, 220);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar .navbar-left {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;    
}

.navbar .navbar-right {
    cursor: pointer;    
}

.navbar .navbar-x {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .navbar-left-img {
    width: 60px;
    height: auto;
    border: 3px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.navbar .navbar-left-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }