.auth {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth .auth-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth .auth-container input {
    padding: 10px;
    margin: 8px 0px;
    outline: none;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 4px;
}

.auth .auth-container p {
    cursor: pointer;
    color: red;
    font-size: small;
}

.auth .auth-container .auth-container-google {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;   
}

.auth .auth-container .auth-container-button {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    background-color:  rgb(234, 32, 220);
    cursor: pointer;
    color: white;     
}